APPLICATION_NAME=
NEXT_PUBLIC_PRIMARY_HUE=
NEXT_PUBLIC_PRIMARY_CHROMA=
NEXT_PUBLIC_HIDE_GITHUB=
FAVICON_URL=
ICON_URL=
OPENGRAPH_IMAGE_URL=
LOGO_URL=
BETTER_AUTH_URL=
BETTER_AUTH_API_KEY=
BETTER_AUTH_SECRET=
DATABASE_URL=
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=
OAUTH_AUDIENCE=
OAUTH_ISSUER=